* {
  box-sizing: border-box;
}
html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  background-color: rgba(red, green, blue, alpha);
}
.u1 {
  list-style-type: upper-roman;
}
.u11 {
  list-style-position: inside;
}
.o1 {
  /*list-style-image: url(preview.jpg);*/
  /*设置填充图片空白*/
  padding-left: 2rem;
  /*消除默认项目符号*/
  list-style-type: none;
}
.o1 li {
  padding-left: 2rem;
  background-image: url(preview.jpg);
  background-position: 0, 0; /*位置*/
  background-size: 1.5rem 1.5rem; /*设置图片大小*/
  background-repeat: no-repeat;
}
li {
  line-height: 2rem;
}
.c1 {
  color: brown;
}
.c2 {
  color: blueviolet;
}
